@import '../../scss/colors.scss';

.nextChat-footer {
  width: 100%;
  padding: 3rem 0;
  box-shadow: 0 0 2px 0 rgba(black, .34);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 991.98px) {
    padding: 2rem 0;
  }

  & .footer-left {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0 4rem;

    @media (max-width: 1199.98px) {
      padding: 0 2rem;
    }

    @media (max-width: 991.98px) {
      width: 100%;
      padding: 0 1rem;
      margin-bottom: 2rem;
    }

    @media (max-width: 575.98px) {
      margin-bottom: 0;
    }

    & .nextChat-logo {
      font-size: 2.25rem;
      color: getColor('Purple');
    }
    & > span {
      font: {
        size: .7em;
        family: MontserratRegular;
      }
      letter-spacing: .02em;
      color: darken(silver, 25);
      margin-top: 1rem;
    }
    & .links {
      margin-top: 1rem;

      & > a {
        color: darken(silver, 25);
        font-size: 2rem;
        margin-left: 1rem;
        transition: .4s color ease-in-out;

        &:nth-child(1) {
          margin-left: 0;
        }
        &:hover {
          color: darken(silver, 35);
        }
      }
    }
  }
  & .footer-right {
    width: 70%;
    padding-right: 4rem;

    @media (max-width: 1199.98px) {
      padding-right: 2rem;
    }

    @media (max-width: 991.98px) {
      width: 100%;
      padding-right: 0;
      padding: 0 4rem;
    }

    @media (max-width: 575.98px) {
      padding: 0 1rem;
    }

    & .footer-top, & .footer-bottom {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: flex-start;

      & > li {
        width: calc(100% / 4);

        @media (max-width: 575.98px) {
          width: 100%;
        }
      }
    }
    & .footer-top {
      & > li {
        & > h1 {
          margin: 0;
          padding: 0;
          font: {
            size: 1.2em;
            family: MontserratSemiBold;
          }
          margin-bottom: 1.5rem;
          color: darken(silver, 45);

          @media (max-width: 575.98px) {
            margin-bottom: 1rem;
            margin-top: 1rem;
          }
        }
        & > a {
          display: block;
          width: auto;
          text-decoration: none;
          margin-top: .75rem;
          font: {
            size: .95em;
            family: MontserratRegular;
          }
          text-decoration: none;
          transition: .2s padding-left ease-in-out;
          color: darken(silver, 25);

          @media (max-width: 575.98px) {
            margin-top: .5rem;
          }

          &:nth-of-type(1) {
            margin-top: 0;
          }
          &:hover {
            padding-left: .5rem;
          }
        }
      }
    }
    & .footer-bottom {
      margin-top: 3rem;

      @media (max-width: 575.98px) {
        margin-top: 1rem;
      }

      & > li {
        color: darken(silver, 45);

        @media (max-width: 575.98px) {
          margin-top: .5rem;

          &:nth-of-type(1) {
            margin-top: 0;
          }
        }

        & > a {
          margin-left: 2rem;
          text-decoration: none;
          color: currentColor;
          font: {
            size: .9em;
            family: MontserratSemiBold;
          }
          letter-spacing: .02em;

          &:nth-child(1) {
            margin-left: 0;
          }
        }
      }
    }
  }
}